 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;

 }
 .Etiqueta {
   box-sizing: border-box;

   position: absolute;
   width: 1379px;
   height: 113px;
   left: 1px;
   top: 17px;

   background: #79AF7F;
   border: 1px solid rgba(189, 216, 168, 0.91);
 }
 .Etiqueta h1{
   position: absolute;
 width: 1380px;
 height: 113px;
 left: 420px;
 top: 0px;

 font-family: 'Roboto Flex';
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 38px;
 display: flex;
 align-items: center;
 text-align: center;

 color: #16300D;
 }
.Logo {
  position: absolute;
  width: 100px;
  height: 113px;
  left: 80px;
  top: -1px;

background: url('imgs/SucuLovers1.png');
}
 body {
   position: relative;
   width: 1380px;
   height: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('imgs/cactus suculentas.jpg') center/cover;
   overflow: hidden;
}

.EtiquetaPago {

position: absolute;
width: 400px;
height: 40px;
left: 270px;
top: 170px;

background: #C3E0CA;
}
.stylepay {
  position: absolute;
  width: 148px;
  height: 40px;
  left: 40px;
  top: 6px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #16300D;
}
.payment-screen {
  position: absolute;
width: 400px;
height: 410px;
left: 270px;
top: 170px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2),
 rgba(0, 0, 0, 0.2)), rgba(156, 198, 161, 0.49);
}

.Shopping_image{
  align-self: flex-end;

}
.Shopping_image img{
  position: absolute;
  width: 163px;
  height: 94px;
  left: 380px;
  top: 220px;

background: url('imgs/Caja30pzs.png');
}

.Card {
  position: absolute;
width: 371px;
height: 200px;
left: 286px;
top: 329px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)
);

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), -1px
  -1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;

}
.Cardrow{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  box-sizing: content-box;
  width: 40px;
  height: 20px;
  border: 4px;
  float: left;
}
.Cardcol{
  padding-bottom:  1rem;
  float: right;

}
.Card_title{
  font-weight: 600;
  font-size: 1.5rem;
  color: #17181C;
  margin: 1rem;

}
.card_chip{
  align-self: flex-end;

}

.card_chip img{
  width: 3rem;
  margin-left: auto;
 display: block;
}

.Cardinput {
  background: none;
  border: none;
  border-bottom: dotted 0.2rem rgba(0,0,0, 0.5);
  font-size: 1.2rem;
  color: #000000;
}
.inputvalidar {
  box-sizing: border-box;

position: absolute;
width: 90px;
height: 22px;
margin-bottom: auto;
left: calc(34% - 60px/2 - 22.5px);
top: calc(75% - 22px/2 + 106px);

background: #78BA8E;
border: 2px solid #CBD58E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}
.Cardinput: {
  outline: none;
  border-color: rgba(255, 0, 0, 0.8);
}

.Messagetext {
  position: absolute;
  margin-bottom: auto;
  left: 520px ;
  top: 548px ;

 
}
